ARSA_ALLOWED_ORIGINS=http://localhost:5173
ARSA_ACCESS_ROLE=adler
ARSA_ADMIN_ROLE=arsa-admin
ARSA_BIND_ADDRESS=0.0.0.0:3000
ARSA_USE_VOLUME=false
ARSA_SERVER_VOLUME=arsa-servers-volume
ARSA_REPO_VOLUME=arsa-repo-volume
ARSA_OIDC_CLIENT_ID=arsa
ARSA_OIDC_CLIENT_SECRET=leRAnwnlc1PVX6qIic0S8cofUsN24oFD
ARSA_OIDC_ISSUER=http://localhost:8080/realms/grad
ARSA_OIDC_CALLBACK_URI=http://localhost:3000/callback
ARSA_OIDC_FRONTEND_URI=http://localhost:5173/